body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Divider for diffrent between title page and body */
.divider{
  width: 90%;
  height: 1px;
  background-color: #725656;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* container, and module css */
.flex-module{
  display: flex;
}
.display-grid{
  display: grid;
  margin-left: 10px;
}
.content-center{
  justify-content: center;
  margin-top: 30px;
}
.mr-10px{
  margin-right: 10px;
}
.mr-20px{
  margin-right: 20px;
}
.mt-50px{
  margin-top: 50px;
}
.mt-20px{
  margin-top: 20px;
}
.w-300px{
  width: 300px;
}
.p-10px{
  padding: 10px;
}
/* container, and module css */

/* component styling css element  */
  /* button css  */
.button-tab{
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border:1px solid #D9D6D6;
  color: #989A95;
  cursor: pointer;
}
.button-tab-active{
  background-color: #87BB2C;
  padding: 10px 20px;
  border-radius: 10px;
  border:none;
  color: white;
  cursor: pointer;
}
.detail-btn{
  background-color: white;
  color: #95C83D;
  font-weight: 700;
  font-size: 14px;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  border:none
}
.button-tab-delete{
  background-color: #F36464;
  padding: 10px 20px;
  border-radius: 10px;
  border:none;
  color: white;
  cursor: pointer;
  border:none
}
.link-profile{
  color: #87BB2C;
  margin-top: 30px;
  margin-left: 50px;
}
  /* button css  */
  /* Header, and text landing page  */
.Header-page{
  font-size: 24px;
  font-weight: 700;
  color: #525252;
}
.header-label-input{
  font-size: 14px;
  color: #584C14;
  font-weight: 600;
  text-align:left;
}
.Paragraph-page{
  font-size: 14px;
  font-weight: 400;
  color: #888585;
}
.text-left{
  text-align: left;
}
.img-list{
  margin-top: 20px;
  margin-right: 30px;
}
.header-list{
  font-size: 16px;
  color: #999595;
  font-weight: 500;
}
.description-list{
  font-size: 14px;
  color: #C1C1C1;
  font-weight: normal;
}
.img-todo{
  width: 100%;
  display: block;
}
.type-input-text{
  width: 100%;
  border:1px solid #D9D6D6;
  padding:10px;
  border-radius: 10px;
}
.type-input-textarea{
  width: 90%;
  border:1px solid #D9D6D6;
  padding:10px;
  border-radius: 10px;
  height: 60px;
}
.select-input{
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border:1px solid #D9D6D6;
}
  /* Header, and text landing page  */
  /* modal css  */
  .container-modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(104, 102, 102, 0.37);
    top: 0px;
    left: 0px;
  }
  .close-container{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0px;
    left: 0px;
  }
  .modal-wrap{
    width: 450px;
    position: relative;
    background-color: white;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
    border-radius: 20px;
    z-index: 10;
  }
/* component styling css element  */
